.showcase {
  z-index: 1;
  background-color: #000;
  min-height: 231px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;

  &>h2 {
    color: #FFF;
    font-size: 96px;
    font-weight: 400;
    line-height: normal;
  }
}